@media(max-width: 678px){
    .image-with-text__text-item.grid__item .image-with-text__content[class*="color-scheme"]{
        padding: 4rem 1.5rem;
    }
    .image-with-text__text-item.grid__item .image-with-text__content{
        padding: 4rem 0rem;
    }
}
@media screen and (max-height: 1000px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}